@import '../global';

.info-rows, .info-icons {
    width: 250px;
    margin: 0 auto;
    div {
        display: block;
        padding-left: 50px;
    }
    h2 {
        font-size: 20px;
        text-align: left;
    }
    p {
        text-align: left;
    }
    img {
        display: block;
        height: 30px;
        padding-left: 2em;
    }
    img:hover, p:hover {
        cursor: default;
       -webkit-filter: invert(0.8) hue-rotate(200deg);
    }
}
.slider-wrapper slider {
    display: inline-block;
    padding: 0 1em;
}
.cupture {
    margin-top: 5em;
}
@media (min-width: $tablet) {
    .info-rows, .info-icons {
        width: 600px;
        display: flex;
        margin: 0 auto;
        div {
            flex: 1;
            padding-left: 50px;
            &:nth-child(1) {
                flex: 2;
            }
        }
        h2 {
            font-size: 35px;
            margin: 35px auto;
        }
        img {
            display: block;
            height: 40px;
            padding-left: 0;
        }
    }
}
