@import './global';

.info-rows {
    width: 250px;
    margin: 0 auto;
    div {
        display: block;
        padding-left: 50px;
    }
    h2 {
        font-size: 20px;
        text-align: left;
    }
    p {
        text-align: left;
    }
}
@media (min-width: $tablet) {
    .info-rows {
        width: 600px;
        display: flex;
        margin: 0 auto;
        div {
            flex: 1;
            padding-left: 50px;
            &:nth-child(1) {
                flex: 2;
            }
        }
        h2 {
            font-size: 35px;
        }
    }
}
