@import './global';

body {
    margin: 0;
    padding: 0;
}
.fixed-content {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-image: url('/src/app/image/webOK_bg.jpg');
}
.nav-component {
    position: absolute;
    top: 0;
    right: 0;
    width: 215px;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}
