@import '../global';

.page-content {
    top: 0;
}
h1 div {
    position: absolute;
    top: -100px;
    text-align: center;
    width: 50px;
    display: inline;
    &:hover {
        cursor: pointer;
    }
}
h1:nth-child(2) div{
    top: 0;
    left: -20px;
}
.home-photo {
    width: 80%;
    height: 100vh;
    img {
        width: 100%;
        height: 100vh;
    }
}
.home-info {
    position: absolute;
    top: 30%;
    width: 100%;
}
.constant-content {
    position: relative;
    top: 105px;
    text-align: center;
}
// @media (min-width: $mobile + 1) and (max-width: $tablet) {
//     .movable-content {
//         width: 75%;
//         margin: 0 auto;
//     }
//     h1 {
//         line-height: 0;
//         letter-spacing: -50px;
//     }
//     h1 div {
//
//         text-align: left;
//         width: 0;
//     }
//     h1:nth-child(2) div{
//         top: -18px;
//     }
// }
@media (min-width: $tablet + 1) and (max-width: $laptop) {
    .home-photo {
        width: 70%;
    }
    .home-info {
        left: 15%;
    }
    .constant-content {
        left: -15%;
    }
}
@media (min-width: $laptop + 1) {
    .home-photo {
        width: 45em;
        img {
            width: 45em;
        }
    }
    .home-info {
        width: 39%;
        left: 39.7em;
    }
}
