<div class="page-content">
    <logo-svg></logo-svg>
    <div class="content-wrapper" (window:resize)="onResize($event)" [@onLoad]="visibility">
        <div class="home-photo">
            <img src="./src/app/image/ok_web_photo_WB.jpg" alt="">
        </div>
        <div class="home-info">
            <div *ngIf="mobile">
                <h1>Oksana</h1>
                <h1>Kondratiuk</h1>
            </div>
            <div *ngIf="!mobile" class="movable-content">
                <div class='letterDiv'>
                    <div *ngFor='let letterN of letterNs; let i = index' [@blurAnimation]='letterN.state'
                        (mouseenter)='blurText(letterN)' (mouseleave)='backText(letterN)'
                        [style.left]='letteNLeft(i)'>{{letterN.name}}</div>
                </div>
                <div class='letterDiv'>
                    <div *ngFor='let letterF of letterFs; let i = index' [@blurAnimation]='letterF.state'
                        (mouseenter)='blurText(letterF)' (mouseleave)='backText(letterF)'
                        [style.left]='letteFLeft(i)'>{{letterF.name}}</div>
                </div>
            </div>
            <div class="constant-content">
                <div class="divide-line"></div>
                <fd-text></fd-text>
            </div>
        </div>
    </div>
    <p class="cupture">This site was built using Angular 2 and styled with SCSS</p>
</div>
