@import '../global';

.page-content {
    top: 0;
}
.letterDiv {
    position: relative;
    width: 550px;
    font-family: 'Haettenschweiler';
    font-size: 90px;
    letter-spacing: 2px;
    line-height: 80px;
    color: white;
    margin: 0 auto;

}
.letterDiv div {
    position: absolute;
    top: -100px;
    text-align: center;
    width: 50px;
    display: inline;
    &:hover {
        cursor: pointer;
    }
}
.letterDiv:nth-child(2) div{
    top: 0;
    left: -20px;
}
.home-photo {
    width: 80%;
    height: 100vh;
    img {
        width: 100%;
        height: 100vh;
    }
}
.home-info {
    position: absolute;
    top: 30%;
    width: 100%;
}
.constant-content {
    position: relative;
    top: 1em;
    text-align: center;
}
@media (min-width: $mobile) and (max-width: $tablet) {
    .letterDiv {
        font-size: 70px;
    }
    .letterDiv:nth-child(1) div {
        top: -75px;
    }
    .constant-content {
        top: 6em;
    }
}
@media (min-width: $tablet + 1) and (max-width: $laptop) {
    .letterDiv {
        font-size: 120px;
        letter-spacing: 8px;
        line-height: 100px;
    }
    .home-photo {
        width: 70%;
    }
    .constant-content {
        top: 105px;
    }
}
@media (min-width: $laptop + 1) {
    .home-photo {
        width: 45em;
        img {
            width: 45em;
        }
    }
    .letterDiv {
        font-size: 120px;
        letter-spacing: 8px;
        line-height: 100px;
    }
    .constant-content {
        top: 105px;
    }
}
